/*Fonts*/
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latohairline';
    src: url('../fonts/lato-hairline-webfont.eot');
    src: url('../fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/lato-hairline-webfont.woff') format('woff'),
         url('../fonts/lato-hairline-webfont.ttf') format('truetype'),
         url('../fonts/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latohairline_italic';
    src: url('../fonts/lato-hairlineitalic-webfont.eot');
    src: url('../fonts/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-hairlineitalic-webfont.woff') format('woff'),
         url('../fonts/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Fonts*/

/*Grid*/
.column1 {  width: 8.33%;   }
.column2 {  width: 16.66%; }
.column3 {  width: 25%;      }
.column4 {  width: 33.33%; }
.column5 {  width: 41.66%; }
.column6 {  width: 50%;      }
.column7 {  width: 58.33%; }
.column8 {  width: 66.66%; }
.column9 {  width: 75%;      }
.column10 {  width: 83.11%; }
.column11 {  width: 91.66%; }
.column12 {  width: 100%;    }

div[class*="column"] {  
	float: left;
	box-sizing: border-box;
}

section[class*="column"] {  
	float: left;
	box-sizing: border-box;
}

.row:after,
.clearfix:after {
	content:""; 
	display: block; 
	clear: both;
}

.pull-right {
	float:right
}  

.pull-left {
	float:left
}

.text-right{
	text-align:right;
} 

.text-center {
	text-align:center;
}

.inline-block {
	display: inline-block;
}  

ul.list-inline {
	padding:0; margin:0
}

ul.list-inline > li {
	display: inline-block;
	margin: 0;
	padding: 0;
} 

.inline {
	display: inline
}
.container { 
	width: 1200px; 
	margin: 0 auto;
	font-family: latobold;
}
/*Grid*/

/*Menu*/
.cont {
	position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}

.cont.open-sidebar {
    left: 240px;
}

#sidebar {
	display: inline-block;
    position: absolute;
    left: -240px;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    margin: 0;
}

#sidebar ul li a {
	background-color: #23c52e;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid green;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}

#sidebar ul li:hover a {
    background-color: #23c550;
}

#sidebar-toggle {
    background: #23c52e;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

#sidebar-toggle .bar:last-child{
     margin-bottom: 0;
     float: left;
}
/*Menu*/
/*Header*/
header {
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 21px 0 235px 0;
	-webkit-box-shadow: inset 0px -150px 50px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: inset 0px -150px 50px 0px rgba(0,0,0,0.36);
	box-shadow: inset 0px -150px 50px 0px rgba(0,0,0,0.36);
}

header ul a {
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	margin-left: 34px;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}

header ul a:hover {
	text-decoration: underline;
}

.header__body {
	text-align: center;
}

.header__suptitle {
	font-family: Times New Roman, arial, sans-serif;
	font-style: italic;
	font-size: 36px;
	color: #e9dcda;
	margin: 259px 0 0 0;
}

.header__title {
	font-size: 100px;
	color: #ffffff;
	text-transform: uppercase;
	margin: -20px 0 0 0;
	margin-bottom: 37px;
}

.header__button {
	font-size: 18px;
	text-transform: uppercase;
	padding: 21px 79px;
	text-decoration: none;
	color: #ffffff;
	border: 3px solid #ffffff;
	border-radius: 3px;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}

.header__button:hover {
	border: 3px solid gray;
}

.header__text {
	display: block;
	margin-top: 53px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	font-family: latoregular;
}

.header__text__link {
	color: #ffffff;
}
/*Header*/

/*Features*/
.features__item {
	text-align: center;
	padding: 0 10px 95px 10px;
}
.features__item__img {
	padding: 24px;
	background-image: url(../img/bg-features-item.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 100px;
}

.features__item__title {
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	margin: 8px 0 30px 0;
	position: relative;
}

.features__item__title:after {
	content: "";
	height: 1px;
	width: 88px;
	background-color: #f57365;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -44px;
}

.features__item__text {
	color: #7d7d7d;
	font-size: 16px;
	font-family: latolight;
}
/*Features*/

/*Introducing*/
.introducing {
	background-color: #f7f7f7;
	padding: 90px 0 0 0;
}

.introducing__iphone {
	font-size: 0px;
}

.introducing__app {
	padding: 67px 0 0 80px;
}

.introducing__app__title {
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
	position: relative;
}

.introducing__app__title:after {
	content: "";
	height: 1px;
	width: 88px;
	background-color: #f57365;
	position: absolute;
	bottom: -5px;
	left: 0;
}

.introducing__app__text {
	display: inline-block;
	font-size: 16px;
	color: #979797;
	font-family: latolight;
	margin-top: 10px;
}

.introducing__app__download {
	display: inline-block;
	margin: 10px 10px 0 0;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}

.introducing__app__download:hover {
	opacity: 0.6;
}
/*Introducing*/

/*Reviews*/
.slider {
	background-color: #4a3949;
	height: 460px;
	background-image: url(../img/bg-reviews.png);
    background-position: center center;
    background-repeat: no-repeat; 
    text-align: center;  
}

.slider__photo {
	text-align: center;
	margin-bottom: 12px;
}

.slider__text {
	display: inline-block;
	font-size: 30px;
	font-family: latohairline;
	width: 950px;
	text-align: center;
	margin-bottom: 15px;
}

.slider__author {
	display: block;
	font-size: 18px;
	font-family: latohairline;
	text-align: center;
}
/*Reviews*/

/*Cuisines*/
.cuisines__title {
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	margin: 75px 0 35px 0;
}

.cuisines__title:after {
	content: "";
	height: 1px;
	width: 88px;
	background-color: #f57365;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -44px;
}

.cuisines__item {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	display: inline-block;
	height: 225px;
	background-position: center center;
	text-align: center;
	-webkit-box-shadow: inset 0px 0px 96px 50px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 96px 50px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 96px 50px rgba(0,0,0,0.5);
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}

.cuisines__item:hover {
	-webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
}

.one {
	background-image: url(../img/italian.jpg);
}

.two {
	background-image: url(../img/indian.jpg);
}

.three {
	background-image: url(../img/french.jpg);
}

.four {
	background-image: url(../img/steakhouse.jpg);
}

.five {
	background-image: url(../img/seafood.jpg);
}

.six {
	background-image: url(../img/sushi.jpg);
}

.seven {
	background-image: url(../img/mexican.jpg);
}

.eight {
	background-image: url(../img/chinese.jpg);
}

.cuisines__number {
	font-family: Times New Roman, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	margin-top: 77px;
	display: inline-block;
	color: #ffffff;
}

.cuisines__name {
	font-size: 36px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 6px;
}
/*Cuisines*/

/*Numbers*/
.numbers__item {
	text-align: center;
}

.numbers__item__number {
	font-size: 36px;
	display: inline-block;
	margin-top: 43px;
}

.numbers__item__text {
	font-family: latolight;
	font-size: 16px;
	color: #424242;
	display: inline-block;
	margin-bottom: 55px;
}
/*Numbers*/

/*Footer*/
footer {
	background-color: #f7f7f7;
	text-align: center;
	border-top: 1px solid #e2e2e2;
}

.footer__copy {
	font-size: 14px;
	font-family: latolight;
	color: #c5c5c5;
	display: inline-block;
	margin: 40px 0;
}
/*Footer*/

